@font-face {
  font-family: 'Hikou Outline';
  src: url('../fonts/Hikou Outline.otf');
}

@font-face {
  font-family: 'Hikou Light';
  src: url('../fonts/Hikou Light.otf');
}

@font-face {
  font-family: 'Hikou Regular';
  src: url('../fonts/Hikou Regular.otf');
}